anyio==4.12.1
asgiref==3.11.1
channels==4.3.2
daphne==4.2.1
Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
whitenoise==6.9.0
Pillow==11.1.0
PyJWT==2.10.1
cryptography==44.0.2
dj-database-url==2.3.0
psycopg2-binary==2.9.9
requests==2.31.0
